name: CI

on:
  push:
    branches: [ main ]
    tags: [ v*.*.* ]

  pull_request:
    branches: [ main ]
    types:
      - synchronize
      - opened
      - reopened

jobs:
  call_ci:
    uses: EffectiveRange/ci-workflows/.github/workflows/python-ci.yaml@latest-python
    with:
      package-type: 'wheel'
      coverage-threshold: 85
      test-distribution: 'trixie'
      package-architecture: '["amd64"]'